img {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  border-color: rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: auto 0;
}

li {
  list-style: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.box_title_wrap {
  margin: 0 250px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1_wrap {
  display: flex;
}

.task_h1 {
  margin-bottom: 10px;
}

.date_wrap {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-right: 10px;
}

.main_header_img {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.main_wrap {
  margin: 0 250px;
  /* display: flex;
    align-items: center; */
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#first_box {
  margin-top: 3px;
}

.main_box_wrap {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main_box_title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.main_box_title {
  margin-left: 20px;
  font-size: 18px;
}

.arrow_img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.main_box_body_wrap {
  display: flex;
  align-items: center;
  margin: 30px 0 30px 0px;
}

.main_box_body {
  margin-left: 20px;
  font-size: 20px;
}

.main_box_body_img {
  margin: 0 20px;
}

.progress {
  margin-left: 10px;
  width: 300px;
}

.none {
  display: none;
  height: 56px;
}
