<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.duedate.mapper.TaskMapper">
    <insert id="insertTask">
        INSERT INTO TBL_TASK
            (TASK_ID, USER_NUMBER, CATEGORY, TASK, CATEGORY_COLOR, TASK_DATE)
        VALUES (SEQ_TASK.NEXTVAL, #{userNumber}, #{category}, #{task}, #{categoryColor}, #{taskDate})
    </insert>

    <update id="updateTask">
        UPDATE TBL_TASK
        SET CATEGORY = #{category}
            TASK = #{task}

    </update>

</mapper>