* {
  margin: 0;
  padding: 0;
}

.all {
  margin: 10px 200px;
}

header {
  margin-bottom: 80px;
}

.main-text div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
}

.allbox {
  padding: 10px 20px;
  margin: 0 200px;
}
.write-button {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.wr {
  display: flex;
  align-items: center;
}

button {
  width: 72px;
  height: 28px;
  background-color: transparent;
  border: none;
}

.write:hover {
  color: #666;
}

.writebox a {
  text-decoration-line: none;
}

.writebox1 {
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
  box-sizing: content-box;
  font-size: 12px;
  color: #666;
  line-height: 1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.writen {
  font-size: 10px;
  font-weight: 400;
  height: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.writen img {
  border-radius: 100%;
  width: 2vw;
  height: 2vw;
}

.writen div {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(4, 5, 5);
}

.writemain {
  color: rgb(4, 5, 5);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
}

.writecontent {
  color: rgb(89, 95, 99);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}

.writecoment {
  line-height: 20px;
  padding: 20px;
  box-sizing: content-box;
  font-size: 12px;
  color: #666;
  line-height: 20px;
  width: 200px;
  border-radius: 0px 10px 10px 0px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.writecoment img {
  border-radius: 100%;
  width: 1.5vw;
  height: 1.5vw;
}

.comment-nic {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
}

.write {
  padding: 6px 5px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  font-size: 20px;
  color: #666;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.search {
  position: relative;
  margin-right: 10px;
}

.search input {
  border: 1px solid #e1e1e1;
  width: 150px;
  height: 20px;
}

.im {
  width: 13px;
  height: 13px;
  position: absolute;
  right: 20px;
  top: 3px;
}

#diary_footer_ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 241, 235, 0.2);
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.diary_order {
  list-style: none;
  margin: 0;
  padding: 0 8px;
}

.diary_order_a {
  text-decoration: none;
  color: black;
}

.w {
  box-sizing: content-box;
  padding: 20px;
}

.mypage-link-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 0 40px;
  margin-bottom: 24px;
}

.mypage-btn img {
  width: 40px;
  height: 40px;
}
.mypage-menu-wrap {
  display: none;
  position: absolute;
  top: 100%;
  right: 40px;
  width: 288px;
  background-color: #b0b0b0;
  border-radius: 8px;
  color: #000;
  font-weight: 500;
}

.mypage-menu-wrap.active-page {
  display: block;
}
.mypage-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
