#modal {
    position: fixed;
    display: none;

    justify-content: center;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
}

#modal_body {
    position: absolute;
    top: 50%;

    width: 480px;
    height: 650px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateY(-50%);
}

#modal_body_header {
    display: flex;
    justify-content: right;
}

#close_modal {
    margin: 10px 10px 0 0;
    cursor: pointer;
}

#modal_body_main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#modal_box_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal_box {
    width: 80%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#box_title {
    font-size: 20px;
    margin: 10px 0;
}

#modal_box2_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#modal_box2 {
    width: 80%;
    height: 70%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#box_text {
    margin-top: 10px;
}

#div_diary {
    margin: 0 250px;
    padding: 0;
}

#diary_box_wrap_wrap {
    display: flex;
}

#diary_box_wrap {
    width: 95%;
    margin: 0;
    padding: 0;
}

.box_title_wrap {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_work {
    margin: 0;
    padding: 0;
}

.h1_wrap {
    display: flex;
}

.diary_h1 {
    margin-left: 100%;
}

#month_wrap {
    display: flex;
}

.minus_plus_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#minus {
    margin-right: 20px;
    width: 35px;
    height: 35px;
}

#plus {
    margin-left: 20px;
    width: 35px;
    height: 35px;
}

#main_header_num {
    font-size: 28px;
    line-height: 10px;
}

.main_header_img {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

#diary_img {
    width: 120px;
    height: 60px;
    cursor: pointer;
}

.diary_box_div {
    display: flex;
    align-items: center;
}

.diary_box_first {
    width: 100%;
    display: flex;
}

.link_warp {
    display: flex;
}

.link {
    display: flex;
    justify-content: right;
}

.a_wrap {
    display: flex;
    justify-content: space-between;
}

.link_a {
    margin: 0 10px;
}

.diary_box_ul {
    width: 100%;
    margin: 0 0 0 10px;
    padding: 0;
}

.diary_box_li {
    width: 100%;
    margin: 20px auto;
    padding: 0;
    list-style: none;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: pointer;
}

.box_hr {
    width: 92%;
    border-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.diary_li_inner_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.diary_li_title {
    margin: 14px 0 14px 50px;
}

.diary_li_date {
    margin: 14px 50px 14px 0;
}

.diary_preview_box_wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.diary_preview_box {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    border-radius: 40px;
    margin: auto 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.diary_preview_text_wrap {
    margin: 0;
    padding: 0;
}

.diary_preview_text {
    padding: 5px 0;
}

/* #diary_box_li2 {
    margin-top: 60px;
} */

.li_a {
    text-decoration: none;
    color: inherit;
}

#diary_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#diary_footer_ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 241, 235, 0.2);
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.diary_order {
    list-style: none;
    margin: 0;
    padding: 0 8px;
}

.diary_order_a {
    text-decoration: none;
    color: black;
}
