<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>taskpage</title>
    <link rel="stylesheet" href="../../../css/goal_css/taskpage_css/taskpage.css" />
    <script defer src="../../../js/goal_js/taskpage_js/taskpage.js"></script>
    <link rel="stylesheet" href="../../header/common.css" />
    <script defer src="../../header/header.js"></script>
  </head>
  <body>
    <header id="app-header">
      <div class="header">
        <div class="left-header">
          <div class="logo-wrap">
            <a href="./mainpage.html">
              <img class="logo" src="../../header/img/logo.png"
            /></a>
          </div>
        </div>
        <div class="center-header">
          <nav>
            <ul>
              <li>
                <a href="../../diary/diarypage.html" class="none-acitve"
                  >Diary</a
                >
              </li>
              <li>
                <a href="../../goal/goalpage/goalpage.html" class="active-menu"
                  >MyDuedate</a
                >
              </li>
              <li>
                <a
                  href="../../community/html/communitypage.html"
                  class="none-acitve"
                  >Community</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="right-menu">
          <button class="mypage-btn">
            <img src="../../header/img/account.png" />
          </button>
        </div>
        <div class="mypage-menu-wrap" id="mypage-menu-wrap">
          <button class="close-btn" id="close-btn">×</button>
          <div class="mypage-menu">
            <img src="../../header/img/change.png" />
          </div>
          <div class="user-wrap">
            <div class="user-email">email@email.com</div>
            <div class="user-nick-name">유저 닉네임</div>
          </div>
          <div class="mypage-link-wrap">
            <a href="../../goal/goalpage/goalpage.html" class="goal-page"
              ><img />Goal Page</a
            >
            <a href="../../login/loginpage.html" class="log-out"> Log Out</a>
          </div>
        </div>
      </div>
    </header>
    <div id="modal1" class="modal">
      <div class="modal_body">
        <div class="box_header_text">
          <div class="modal_box_title_wrap">
            <img class="main_box_img" src="../img/goal_img.png" />
            <p class="main_box_text">목표</p>
          </div>
          <img
            id="close_modal1"
            class="close_modal"
            src="../img/close_img.png"
          />
        </div>
        <hr class="modal_hr" />
        <ul class="checklist">
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 1</li>
          </div>
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 2</li>
          </div>
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 3</li>
          </div>
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 4</li>
          </div>
        </ul>
      </div>
    </div>
    <div id="modal2" class="modal">
      <div class="modal_body">
        <div class="box_header_text">
          <div class="modal_box_title_wrap">
            <img class="main_box_img" src="../img/task2_img.png" />
            <p class="main_box_text">과제</p>
          </div>
          <img
            id="close_modal2"
            class="close_modal"
            src="../img/close_img.png"
          />
        </div>
        <hr class="modal_hr" />
        <ul class="checklist">
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 1</li>
          </div>
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 2</li>
          </div>
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 3</li>
          </div>
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 4</li>
          </div>
        </ul>
      </div>
    </div>
    <div id="modal3" class="modal">
      <div class="modal_body">
        <div class="box_header_text">
          <div class="modal_box_title_wrap">
            <img class="main_box_img" src="../img/todo_img.png" />
            <p class="main_box_text">할일</p>
          </div>
          <img
            id="close_modal3"
            class="close_modal"
            src="../img/close_img.png"
          />
        </div>
        <hr class="modal_hr" />
        <ul class="checklist">
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 1</li>
          </div>
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 2</li>
          </div>
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 3</li>
          </div>
          <br />
          <div class="li_wrap">
            <button type="button" class="checklist_btn"></button>
            <li class="checklist_item">체크리스트 항목 4</li>
          </div>
        </ul>
      </div>
    </div>
    <main>
      <!-- <div class="title_wrap">
            <h1 class="title">TASK</h1>
        </div> -->
      <div class="box_title_wrap">
        <div class="box_work"></div>
        <div claas="h1_wrap">
          <h1 class="task_h1">TASK</h1>
        </div>
        <div id="month_wrap">
          <div class="minus_plus_wrap">
            <img
              id="minus"
              class="main_header_img"
              src="../img/minus_img.png"
            />
          </div>
          <h2 id="main_header_num">3</h2>
          <div class="minus_plus_wrap">
            <img id="plus" class="main_header_img" src="../img/plus_img.png" />
          </div>
        </div>
      </div>
      <div class="main_wrap">
        <div class="main">
          <div class="main_link">
            <div class="a_wrap">
              <a href="../diarylistpage/diarylistpage.html">diary</a>
              <a href="../articlelistpage/articlelistpage.html">article</a>
            </div>
          </div>
          <div class="main_box_wrap">
            <div class="main_box">
              <div class="main_box_title_wrap">
                <img
                  id="goal_img"
                  class="main_box_img"
                  src="../img/goal_img.png"
                />
                <p id="goal_text" class="main_box_text">목표</p>
              </div>
              <hr />
              <div class="main_box_gauge_wrap">
                <p id="goal_gauge_percentage" class="gauge_percentage">0%</p>
                <div id="goal_gauge_bar_warp" class="gauge_bar_wrap">
                  <div
                    id="goal_gauge_background"
                    class="gauge_background"
                  ></div>
                  <div id="goal_gauge_bar" class="gauge_bar"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="main_box_wrap">
            <div class="main_box">
              <div class="main_box_title_wrap">
                <img
                  id="task_img"
                  class="main_box_img"
                  src="../img/task2_img.png"
                />
                <p id="task_text" class="main_box_text">과제</p>
              </div>
              <hr />
              <div class="main_box_gauge_wrap">
                <p id="task_gauge_percentage" class="gauge_percentage">0%</p>
                <div id="task_gauge_bar_warp" class="gauge_bar_wrap">
                  <div
                    id="task_gauge_background"
                    class="gauge_background"
                  ></div>
                  <div id="task_gauge_bar" class="gauge_bar"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="main_box_wrap">
            <div class="main_box">
              <div class="main_box_title_wrap">
                <img
                  id="todo_img"
                  class="main_box_img"
                  src="../img/todo_img.png"
                />
                <p id="todo_text" class="main_box_text">할일</p>
              </div>
              <hr />
              <div class="main_box_gauge_wrap">
                <p id="todo_gauge_percentage" class="gauge_percentage">0%</p>
                <div id="todo_gauge_bar_warp" class="gauge_bar_wrap">
                  <div
                    id="todo_gauge_background"
                    class="gauge_background"
                  ></div>
                  <div id="todo_gauge_bar" class="gauge_bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
