img {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  border-color: rgba(0, 0, 0, 0.2);
}

a {
  margin: 0 10px;
}

.modal {
  position: fixed;
  display: none;

  justify-content: center;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.2);
}

.modal_body {
  position: absolute;
  top: 50%;

  width: 480px;
  height: 650px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateY(-50%);
}

.box_header_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal_box_title_wrap {
  display: flex;
  margin: 10px 30px 0 30px;
  align-items: center;
  height: 24px;
}

.close_modal {
  margin: 10px 10px 0 0;
  cursor: pointer;
  height: 24px;
}

.modal_hr {
  margin: 8px 0;
}

.checklist {
  margin: 0 30px;
  list-style-type: none;
  padding: 0;
}

.checklist_item {
  margin-left: 20px;
}

.li_wrap {
  display: flex;
  align-items: center;
}

.checklist_btn {
  width: 20px;
  height: 20px;
}

/* .title_wrap {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

main {
  width: 96.5%;
}

.box_title_wrap {
  margin: 0 250px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_work {
  margin: 0;
  padding: 0;
}

.h1_wrap {
  display: flex;
}

.task_h1 {
  margin-left: 100%;
}

#month_wrap {
  display: flex;
}

.minus_plus_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#minus {
  margin-right: 20px;
  width: 35px;
  height: 35px;
}

#plus {
  margin-left: 20px;
  width: 35px;
  height: 35px;
}

#main_header_num {
  font-size: 28px;
  line-height: 10px;
}

.main_header_img {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.main_wrap {
  margin: 0 250px;
  display: flex;
  align-items: center;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main_link {
  display: flex;
  justify-content: right;
}
.main_link a {
  margin: 0 10px;
}
.a_wrap {
  display: flex;
  justify-content: space-between;
}

.main_box_wrap {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main_box_title_wrap {
  display: flex;
  margin: 0 30px;
  align-items: center;
  height: 50px;
}

.main_box_text {
  margin-left: 20px;
}

.main_box_gauge_wrap {
  display: flex;
  margin: 0 30px;
  align-items: center;
  height: 100px;
}

.gauge_percentage {
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.gauge_bar_wrap {
  margin-left: 30px;
  position: relative;
  width: 90%; /* 게이지 바의 너비 설정 */
  height: 10px; /* 게이지 바의 높이 설정 */
  z-index: 1;
}

.gauge_background {
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: wheat; /* 배경색 설정 */
}

.gauge_bar {
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 0; /* 초기에는 0으로 설정하여 보이지 않도록 함 */
  height: 100%;
  background-color: rgb(158, 158, 255); /* 게이지 바 색상 설정 */
  transition: 0.2s ease;
}
