@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 30px !important;
}

.rightSectionWrap .material-symbols-outlined {
  font-size: 48px !important;
}

.diarySection {
  display: flex;
}

.rightSectionWrap {
  margin: 4rem auto;
}

.diaryTopWrap {
  /* display: flex;
  justify-content: center; */
  margin-left: 90%;
}

.diaryTopBtnWrap {
  /* margin-right: -60rem; */
  display: flex;
  align-items: center;
  /* font-size: 2rem; */
}

.showCalendar {
  margin-left: 0.9rem;
}

.diaryOrCalendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* -----------------------------------------------------큰 달력 -----------------------------------------------------*/

.rightCalendarMonth {
  display: flex;
  align-items: center;
  /* justify-content: space-between;
  position: absolute;
  width: 30rem;
  font-weight: 500; */
}

.rightCalendatBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  font-weight: 500;
  margin-left: 20%;
}

.current-date {
  font-size: 2rem;
}

.rightTodayButton {
  border: 1px solid black;
  border-radius: 15%;
  outline: none;
  background-color: transparent;
  padding: 0.3rem;
  cursor: pointer;
  font-weight: 600;
}

.rightTodayButton:hover {
  color: #fff;
  background-color: #aaa;
}

.rightCalendardate {
  width: 60rem;
  margin-top: 2rem;
}

.rightCalendardate ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.rightCalendardate .weeks li {
  font-weight: 500;
}

.rightCalendardate .days {
  margin-bottom: 20px;
}

.rightCalendardate .days li {
  text-align: left;
}

.rightCalendardate .weeks div {
  width: calc(100% / 7);
  position: relative;
  justify-content: center;
  border-bottom: 2px solid black;
}

.rightCalendardate .days div {
  height: 8rem;
  width: calc(100% / 7);
  position: relative;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  /* cursor: pointer; */
}

.rightCalendardate .days div:last-child {
  border-right: 1px solid #aaa;
}

.rightCalendardate .days div:nth-child(7n) {
  border-right: 1px solid #aaa;
}

.days li.inactive {
  color: #aaa;
}

/*.days div:hover {*/
/*  background: #484848;*/
/*  color: #fff;*/
/*}*/

.active:after {
  color: #000000;
  background-color: rgb(255, 211, 211);
  content: "오늘";
  float: right;
  width: 50%;
  text-align: center;
  border-radius: 0.3rem 0 0.3rem 0.3rem;
}

.day span {
  display: block;
  font-size: 2rem;
  float: right;
  margin-top: 41%;
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* 다이어리  */
.myDiary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0px;
}

.writeDiarySection {
  background-image: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FBOwEB%2FbtrBHUo6yQP%2FKKIoD94DAhBHsiupNAWVBK%2Fimg.png");
  border: 1px solid #aaa;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.25em;
}

.myDiaryTitle,
.rightDiaryEmo,
.myDiaryDetail {
  border-width: 0;
  background-color: transparent;
}

.writeDiaryForm {
  width: 50rem;
}

.myDiaryTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myDiaryDateWrap {
  border-right: 1px solid grey;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.myDiaryDateWrap div {
  width: 25%;
  font-size: 1.9rem;
}

/* .myDiaryDateWrap input{
  font-size: 2rem;
  border: none;
} */

.myDiaryTitleWrap {
  border-top: 1px solid grey;
  padding: 10px 10px 5px 20px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}

.myDiaryTitleWrap div {
  width: 18%;
  font-size: 1.9rem;
}

.myDiaryTitle {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  outline: none;
}

.myDiaryEmoWrap {
  padding: 10px 10px 5px 10px;
  /* width: 35%; */
  align-content: center;
  display: flex;
  align-items: center;
}

.rightDiaryEmo {
  /* width: 100%; */
  height: 40px;
  font-size: 24px;
  font-weight: 500;
}

.myDiaryDetailWrap {
  font-size: 32px;
  margin: 10px;
  line-height: 32px;
  letter-spacing: 0.5em;
  border: 1px solid grey;

  background: repeating-linear-gradient(
          to bottom,
          transparent,
          transparent 48px,
          gray 48px,
          gray 49px
  );
}

.myDiaryDetail {
  width: 100%;
  height: 200px;
  /* margin: 15px 0; */
  padding: 10px;
  font-size: 18px;
  line-height: 48px;
  resize: none;
  outline: none;
}

#submit {
  width: 18%;
  height: 30px;
  float: right;
  margin-left: 8px;
}

#cancel {
  width: 18%;
  height: 30px;
  float: right;
}

/*  */
.leftHamburger {
  margin-top: 0;
  margin-left: 0;
  width: 360px;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  padding: 36px;
}

/* wheather widget */
.leftNavWrapWeather {
  width: 100%;
  /* height: 100px; */
  margin-top: 0;
  /* margin-bottom: 25px; */
  /* border: 1px solid black; */
}

/* left diaryList */
.leftNavWrapDiary {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 10px;
}

.leftNavWrapDiary:hover {
  box-shadow: 0 0 20px #aaa;
}

.leftDiaryTitle {
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.leftDiaryDetail {
  margin-top: 0.5rem;
  height: 5rem;
  text-align: center;
  overflow: hidden;
  word-break: break-word;
  font-size: 1.1rem;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* leftCalendar */
/*
.leftNavWrapCalendar{
  width: 100%;
  height: 30%;
}

.leftCalender{

  background: #fff;
  border-radius: 10px;

}

.leftCalendarMonth{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
  margin-top:3rem;
}

.leftCalender .leftCalendarMonth .leftCurrent-date{
  font-size: 24px;
  font-weight: 600;
}

.leftTodayButton{
  border: 1px solid black;
  border-radius: 15%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: .2rem;
  font-weight: 600;
}

.leftTodayButton:hover{
  color: #fff;
  background-color: #aaa;
}

.leftCalendardate ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.leftCalendardate .weeks li{
  font-weight: 500;
}

.leftCalendardate .leftDays{
  margin-bottom: 20px;
}

.leftCalendardate ul li{
  width: calc(100% / 7);
  position: relative;
}

.leftCalendardate .leftDays li{
  z-index: 1;
  cursor: pointer;
}

.leftDays li.inactive {
  color: #aaa;
}

.leftDays li:hover {
  background: #484848;
  color: #fff;
  border-radius: 15%;
}

.leftActive{
  color:#000000;
  background-color: rgb(255, 212, 212);
  border-radius: .3rem;
}

.haveDiaryL{
  background-color: rgb(195, 255, 209);
  border-radius: .3rem;
}
*/

/* 투두리스트 */
.todo-list {
  margin-top: 10px;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

/* .tune-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4px;
  margin: 16px 0;
} */

/* .tune-wrap img {
  width: 40px;
  height: 40px;
} */

.datepicker-todo {
  margin-bottom: 24px;
}
/* 카테고리 색 변경 */
.category-selector {
  margin-top: 20px;
}
.color-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.color-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.color-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.color-close:hover,
.color-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.color-box {
  display: flex;
  justify-content: space-around;
}

.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.selected-color {
  border: 5px solid black;
}
.category {
  position: relative;
  width: 100%;
  border-radius: 20px;
  height: 32px;
  padding-left: 4px;
  line-height: 32px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
#category1,
#category2,
#category3 {
  background-color: #b0b0b0;
}
.drop-down img {
  transition: transform 0.3s ease;
}

.drop-down.clicked img {
  transform: rotate(180deg);
}

.category-name-wrap {
  line-height: 32px;
}
.category-name {
  width: 60%;
  color: #fff;
}
.send {
  display: flex;
  align-items: center;
}
.drop-down {
  margin-top: 4px;
  margin-right: 4px;
}
.category input::placeholder {
  color: #fff;
}

.rotate {
  transform: rotate(180deg); /* 이미지 회전 */
}
.todo-wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.check-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  margin-left: 8px;
  margin-right: .5rem;
  height: 28px;
}
.checkbox {
  margin-right: 10px;
}
.todo-del {
  padding-top: 2px;
}
.add-todo-wrap {
  display: flex;
  justify-content: center;
}
.add-todo {
  /* border-radius: 50%; */
  width: 24px;
  height: 24px;
  /* border: 1px solid#000; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-todo img {
  width: 16px;
  height: 16px;
}
.add-category {
  margin-top: 10px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid#000;
  display: flex;
  margin-left: 4px;
  justify-content: center;
  align-items: center;
}
